.container {
  display: flex;
  background-color: var(--bg-color);
  border-radius: 10px;
  font-size: var(--font-size-normal);
  letter-spacing: 0.9px;
  margin-top: 10px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.container:hover {
  background-color: var(--bg-color-hover);
}

.word {
  width: 50%;
}

.wordRu {
  text-align: right;
}
